.main {
  background: #ffffff;
  width: 1000px;
  padding: 10px;
  text-align: center;
  border: 3px solid #cccccc;
  margin-left: 50px;
  float: left;
  font-family: Meiryo;
}
.login {
  background: #ffffff;
  width: 300px;
  padding: 10px;
  text-align: center;
  border: 3px solid #cccccc;
  font-family: Meiryo;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  background: #ffffff;
  font-family: Meiryo;
  width: 180px;
  padding: 10px;
  text-align: center;
  border: 3px solid #cccccc;
  margin: 30px auto;
  float: left;
}
body {
    background: #eeeeee;
    width: 1350px;
}
li{
	text-align: left;
}
table.button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
table.tablestyle {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccc;
}

table.tablestyle thead th {
	padding: 10px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #c00;
	background: #dcdcd1;
}
table.tablestyle tbody th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}
table.tablestyle td {
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.tablestyle2 {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccc;
}
table.tablestyle2 th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-top: 1px solid #ccc;
	border-right: 2px solid #c00;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}
table.tablestyle2 td {
	padding: 10px;
	vertical-align: top;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
h1 {
 background-color: #191970;
 color: #ffffff;
 font-size: 120%;
 padding: 5px;
 text-align: center;
}
h3 {
 background-color: #FF99CC;
 color: #ffffff;
 font-family:  "Century Gothic",sans-serif;
 font-size: 120%;
 padding: 5px;
 text-align: center;
}
.floatclear{
	clear: both;
}
a:hover{
    color: #ff0000;
    text-decoration: none;
}
