body {
}
.main {
  background: #fffff0;
  width: 1000px;
  padding: 10px;
  text-align: center;
  border: 3px solid #cccccc;
  margin-left: 50px;
  float: left;
  font-family: Meiryo;
}
.login {
  background: #ffffff;
  width: 300px;
  padding: 10px;
  text-align: center;
  border: 3px solid #cccccc;
  font-family: Meiryo;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  background: #ffffff;
  font-family: Meiryo;
  width: 180px;
  padding: 10px;
  text-align: center;
  border: 3px solid #cccccc;
  margin: 30px auto;
  float: left;
}
body {
    background: #ffcee8;
    width: 1350px;
    background-image: url("/webapplication/pic/flower-back0111.png");
}
li{
	text-align: left;
}
table.button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
table.tablestyle {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccc;
}

table.tablestyle thead th {
	padding: 10px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #c00;
	background: #dcdcd1;
}
table.tablestyle tbody th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}
table.tablestyle td {
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.tablestyle2 {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccc;
}
table.tablestyle2 th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-top: 1px solid #ccc;
	border-right: 2px solid #c00;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}
table.tablestyle2 td {
	padding: 10px;
	vertical-align: top;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
h1 {
 background-color: #FF99CC;
 color: #ffffff;
 font-size: 120%;
 padding: 5px;
 text-align: center;
}
h3 {
 background-color: #FF99CC;
 color: #ffffff;
 font-family:  "Century Gothic",sans-serif;
 font-size: 120%;
 padding: 5px;
 text-align: center;
}
.fadein{
	animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.buruburu {
    display: inline-block;
    animation: hurueru .3s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
.buruburu-hover:hover {
    display: inline-block;
    animation: hurueru .1s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.buruburu2-hover:hover {
    display: inline-block;
    animation: hurueru .1s  infinite;
}

.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}
}
/*マウスオーバーでいろ変わる*/
.mk:hover{
    color: #fd8ed9;
}

/**/

.marker{
background: linear-gradient(transparent 55%, #f8FF9C 70%);
}
